ELEVENLABS_API_KEY=sk_325c4dfd3b810496cad3ed163fe401dfb91065f1d1250b72
OPENAI_API_KEY=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